<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <h2 class="inactive underlineHover" routerLink="/king">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form role="form" #heroForm="ngForm" appIdentityRevealed (ngSubmit)="loginSubmit(emailInput,emailPassword)">
      <div class="form-group" [ngClass]="{'has-danger': email.invalid && error1,'has-success': email.valid && (email.dirty || email.touched)}">
        <input type="text" class="form-control fadeIn second" name="email" placeholder="Email Address" required="" [(ngModel)]="model.email" #email="ngModel" #emailInput  pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
        <div class="form-control-feedback" *ngIf="email.errors && error1">
          <p *ngIf="email.errors.required">Email address is required.</p>
          <p *ngIf="email.errors.pattern">Email address must be in the proper format.</p>
        </div>
      </div>
      

      <div class="form-group"  [ngClass]="{'has-danger': password.invalid && error2,'has-success': password.valid && (password.dirty || password.touched)}">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="model.password" #password="ngModel" #emailPassword>
        <div>
            <span class="eye_view_btn" (click)="showPass()" *ngIf="show_pass">
               <i class="la la-eye"></i>
            </span>
            <span class="eye_crose_btn" (click)="showPass()"  *ngIf="!show_pass">
               <i class="la la-eye-slash"></i>
            </span>
          </div>
      </div>
      
      <div class="form-group">
        <button class="btn fadeIn fourth btn-login" type="submit">Login</button>
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/king">Forgot Password?</a>
    </div>
  </div>
</div>